

# Setup

The questions below will give you feedback on your work. Run the following cell to set up the feedback system.

In [69]:
from learntools.core import binder
binder.bind(globals())
from learntools.data_cleaning.ex1 import *
print("Setup Complete")

Setup Complete

# 1) Take a first look at the data

Run the next code cell to load in the libraries and dataset you'll use to complete the exercise.

In [70]:
# modules we'll use
import pandas as pd
import numpy as np

# read in all our data
sf_permits = pd.read_csv("../input/building-permit-applications-data/Building_Permits.csv")

# set seed for reproducibility
np.random.seed(0)

Use the code cell below to print the first five rows of the `sf_permits` DataFrame.

In [71]:
#print first 5 rows of dataset
sf_permits.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

Does the dataset have any missing values?  Once you have an answer, run the code cell below to get credit for your work.

In [72]:
#check for a missing value
missing_values=sf_permits.isnull().sum()
missing_values[0:10]

Permit Number                  0
Permit Type                    0
Permit Type Definition         0
Permit Creation Date           0
Block                          0
Lot                            0
Street Number                  0
Street Number Suffix      196684
Street Name                    0
Street Suffix               2768
dtype: int64

# 2) How many missing data points do we have?

What percentage of the values in the dataset are missing?  Your answer should be a number between 0 and 100.  (If 1/4 of the values in the dataset are missing, the answer is 25.)

In [73]:
# check what percentage of missing cells we have 
total_cells=np.product(sf_permits.shape)

total_missing = missing_values.sum()
percent_missing = (total_missing/total_cells)*100
                       
print(percent_missing)

26.26002315058403

more than a quarter datasets are missing so lets analyze the reason for missing of datasets

# 3) Figure out why the data is missing

Look at the columns **"Street Number Suffix"** and **"Zipcode"** from the [San Francisco Building Permits dataset](https://www.kaggle.com/aparnashastry/building-permit-applications-data). Both of these contain missing values. 
- Which, if either, are missing because they don't exist? 
- Which, if either, are missing because they weren't recorded?  

Once you have an answer, run the code cell below.

In [74]:
# shape of the dataset
print(f"Shape of the data: {sf_permits.shape}")
# missing values to look at  
values = ['Street Number Suffix', 'Zipcode']
#missing values
missing_values[values]

Shape of the data: (198900, 43)

Street Number Suffix    196684
Zipcode                   1716
dtype: int64

# 4) Drop missing values: rows

If you removed all of the rows of `sf_permits` with missing values, how many rows are left?

**Note**: Do not change the value of `sf_permits` when checking this.

In [75]:

# remove all the rows that contain a missing value
sf_permits.dropna()

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Number Suffix, Street Name, Street Suffix, Unit, Unit Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, Completed Date, First Construction Document Date, Structural Notification, Number of Existing Stories, Number of Proposed Stories, Voluntary Soft-Story Retrofit, Fire Only Permit, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, TIDF Compliance, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Site Permit, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

[0 rows x 43 columns]

It has found that it has removed all our data as every row has at least one missing value.

Once you have an answer, run the code cell below.

In [76]:
# remove all columns with at least one missing value
columns_with_na_dropped = sf_permits.dropna(axis=1)
columns_with_na_dropped.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Current Status,Current Status Date,Filed Date,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,Ellis,expired,12/21/2017,05/06/2015,1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,Geary,issued,08/03/2017,04/19/2016,1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,Pacific,withdrawn,09/26/2017,05/27/2016,1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,Pacific,complete,07/24/2017,11/07/2016,1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,Market,issued,12/01/2017,11/28/2016,144548169992

# 5) Drop missing values: columns

Now try removing all the columns with empty values.  
- Create a new DataFrame called `sf_permits_with_na_dropped` that has all of the columns with empty values removed.  
- How many columns were removed from the original `sf_permits` DataFrame? Use this number to set the value of the `dropped_columns` variable below.

In [77]:
# TODO: Your code here
sf_permits_with_na_dropped = columns_with_na_dropped.shape[1]

dropped_columns = sf_permits.shape[1]

#print dataframes

print("Columns in original dataset: %d \n" % dropped_columns)
print("Columns with na's dropped: %d" % sf_permits_with_na_dropped)

Columns in original dataset: 43

Columns with na's dropped: 12

# 6) Fill in missing values automatically

Try replacing all the NaN's in the `sf_permits` data with the one that comes directly after it and then replacing any remaining NaN's with 0.  Set the result to a new DataFrame `sf_permits_with_na_imputed`.

In [78]:
# get a small subset of the NFL dataset
subset_sf_permits = sf_permits.iloc[:, 0:10].head()
subset_sf_permits

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St

In [79]:
# replace all NA's with 0
subset_sf_permits.fillna(0)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,0,Ellis,St
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,0,Geary,St
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,0,Pacific,Av
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,0,Pacific,Av
4,201611283529,6,demolitions,11/28/2016,0342,001,950,0,Market,St

In [80]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
sf_permits_with_na_imputed=subset_sf_permits.fillna(method='bfill', axis=0).fillna(0)
sf_permits_with_na_imputed

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,0.0,Ellis,St
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,0.0,Geary,St
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,0.0,Pacific,Av
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,0.0,Pacific,Av
4,201611283529,6,demolitions,11/28/2016,0342,001,950,0.0,Market,St